# Dependencies
node_modules/

# Logs
*.log
pnpm-debug.log*
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Env files
.env
.env.*
!.env.example

# Coverage
coverage/

# Build artifacts
dist/
build/

# Editor directories and files
.idea/
.vscode/
*.sw?

# OS artifacts
.DS_Store
Thumbs.db